name: Build & Deploy Frontend

on:
  push:
    tags:
      - "v*"

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    environment: BUILD
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4     

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Version
        id: vars
        run: |
          # Jika menggunakan tag v1.0.0, ambil version-nya
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          else
            VERSION=${GITHUB_SHA::7}
          fi
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "image=ghcr.io/${{ github.repository_owner }}/koda-frontend" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        run: |
          docker build \
            --build-arg VITE_BASE_URL=${{ secrets.VITE_BASE_URL }} \
            -t ghcr.io/anggiprayoga28/koda-frontend:latest \
            -t ghcr.io/anggiprayoga28/koda-frontend:${{ steps.vars.outputs.version }} \
            .

      - name: Push Docker Image
        run: |
          docker push ghcr.io/anggiprayoga28/koda-frontend:latest
          docker push ghcr.io/anggiprayoga28/koda-frontend:${{ steps.vars.outputs.version }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest  
    environment: build
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ~/server/frontend
            docker compose down -v
            docker compose pull
            docker compose up app -d
            docker system prune -a --volumes